<launch>

	<arg name="serial_no"             default=""/>
	<arg name="json_file_path"        default=""/>
	<arg name="camera"                default="camera"/>

	<group ns="$(arg camera)">
		<include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
		<arg name="serial_no"         value="$(arg serial_no)"/>
		<arg name="json_file_path"    value="$(arg json_file_path)"/>
		<arg name="depth_width"       value="640"/>
		<arg name="depth_height"      value="480"/>
		<arg name="depth_fps"         value="30"/>
		<!-- <arg name="depth_width"       value="640"/>
		<arg name="depth_height"      value="480"/>
		<arg name="depth_fps"         value="30"/> -->

		<arg name="color_width"       value="640"/>
		<arg name="color_height"      value="480"/>
		<arg name="color_fps"         value="30"/>
		<!-- <arg name="color_width"       value="640"/>
		<arg name="color_height"      value="480"/>
		<arg name="color_fps"         value="30"/> -->


		<arg name="enable_depth"      value="true"/>
		<arg name="enable_color"      value="true"/>
		<arg name="enable_infra1"     value="false"/>
		<arg name="enable_infra2"     value="false"/>
		<arg name="enable_fisheye"    value="false"/>
		<arg name="enable_gyro"       value="false"/>
		<arg name="enable_accel"      value="false"/>
		<arg name="enable_pointcloud" value="true"/>
		<arg name="enable_sync"       value="true"/>
		<arg name="tf_prefix"         value="$(arg camera)"/>
		</include>

	</group>

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find indy7_description)/urdf/indy7_camera_robotiq.xacro'"/>
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find indy7_description)/rviz_config/default.rviz"/>
	roslaunch indy7_moveit_config moveit_planning_execution.launch \
  robot_ip:=192.168.0.103 robot_name:=NRMK-Indy7
</launch>
