<launch>

    <arg name="robot" default="false" />
    <arg name="gripper_2f" default="false" />
	<arg name="gripper_3f" default="false" />
    <arg name="connectortest" default="false" />
   
    <include if="$(arg robot)" file="$(find indy7_moveit)/launch/demo.launch" />

    <include if="$(arg gripper_2f)" file="$(find indy7_2fgripper_moveit)/launch/demo.launch" />

    <include if="$(arg gripper_3f)" file="$(find indy7_3fgripper_moveit)/launch/demo.launch" />

    <include if="$(arg connectortest)" file="$(find indy7_table_cam_gri_moveit)/launch/demo.launch" />


</launch>