<?xml version="1.0" ?>
<robot name="indy7" xmlns:xacro="http://ros.org/wiki/xacro">


	<xacro:include filename="$(find indy7_description)/urdf/indy7_robotiq2F_85_camera.xacro"/>

	<link name="world">
		<visual>
			<origin rpy="0 0 0" xyz="0.65 0 -0.005"/>
			<geometry>
			<box size="1.6 0.8 0.01"/>
			</geometry>
			<material name="coral"/>
		</visual>
		<inertial>
			<origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
			<mass value="0.001"/>
			<inertia ixx="1.0e-06" ixy="0.0" ixz="0.0" iyy="1.0e-06" iyz="0.0" izz="1.0e-06"/>
		</inertial>
  	</link>	
	  
	<link name="support">
		<visual>
			<origin xyz="-0.125 -0.125 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://indy7_description/meshes/supports/Indy7_support.stl"/>
			</geometry>
			<material name="metal_grey"/>
		</visual>
		<inertial>
			<origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
			<mass value="0.001"/>
			<inertia ixx="1.0e-06" ixy="0.0" ixz="0.0" iyy="1.0e-06" iyz="0.0" izz="1.0e-06"/>
		</inertial>
  	</link>	


	<joint name="world" type="fixed">
		<parent link="world"/>
		<child link="support"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>

	<joint name="support" type="fixed">
		<parent link="support"/>
		<child link="ground"/>
		<origin xyz="0 0 0.016" rpy="0 0 0"/>
	</joint>


</robot>
